$ let valid = input.valid

<nav class=`navbar has-background-${valid ? 'primary' : 'danger'} is-fixed-top`>
  <span class=`navbar-item is-size-5 has-text-${valid ? 'dark' : 'white'}`>
    Blockchain ${valid ? 'válida' : 'inválida'}
  </span>
</nav>